<div id="header">
  <ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="/user" id="profile_button" hidden="true">Profil</a></li>
    <li><a href="/user/edit" id="edit_profile_button" hidden="true">Modifier le profil</a></li>
    <li><a href="/trips">Offres</a></li>
    <li><a id="disconnect" href="#" hidden="true">Deconnexion</a></li>
    <li>
    <span>&nbsp&nbsp&nbsp&nbsp</span>
    <input type="text" id="searchValue" placeholder="Votre recherche" value="">
    <button id="searchButton">Rechercher</button></li>
  </ul>
  <span>Envoyer un mail</span></br>
  <input type="text" placeholder="Votre mail" id="mailValue" value="">
  <button id="mailButton">Envoyer</button></br></br>
  <div id="login_form">
    <form action="/sessions" method="post">
      <span>Nom d'utilisateur</span>
      <input type="text" id="username" placeholder="Votre username" value=""></br>
      <span>Mot de passe</span>
      <input type="password" placeholder="Votre password" id="password" value=""></br>
      <button type="button" id="login_button">Connection</button>
    </form>
  </div>
  <span id="err"></span></br>
  <span id="askToConnect">Connectez vous pour voir votre profil et réserver.</span></br>
</div>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/header.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/tchat.js"></script>

<script src="/jquery-ui/jquery-ui.min.js"></script>
