<!DOCTYPE html>
<html>
  <head>
    <title>Offres</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/jquery-ui/jquery-ui.css' />
  </head>
  <body>
    <%- include partials/header.ejs %>
    </br> Résultats de la recherche : </br></br>
    <p>Choisissez une date de début: <input type="text" id="datepicker_start"></p></br>
    <p>Choisissez une date de fin: <input type="text" id="datepicker_end"></p></br>
    <p>Choisissez une destination: </p>
    <div id="offers"></div></br>
    <div id="res_err"><span hidden="true"></span></div>
    <%- include partials/tchat.ejs %>

    <script type="text/javascript">
      $( document ).ready(function() {
        $( "#datepicker_start" ).datepicker({ minDate: 0 });
        $( "#datepicker_end" ).datepicker({ minDate: 0 });
        var query = qs("q")
        $.ajax({
          "url" : "/trips/json" + (query ? "?q=" + query : ""),
          "headers" : {"Authorization": "bearer " + window.localStorage.token}
        })
        .done(function( data ) {
          if(data.trips.length <= 0){
            $("#offers").append("<span>Il n'y a pas d'offres disponibles pour cette recherche.</span>")
          } else {
            var html = "<span><b> Ville </b></span>" +
              "<span> <b>&nbsp&nbsp&nbsp&nbspDescription </b></span>" +
              "</br>"
            $("#offers").append(html)
            console.log(data.user);
            for (trip of data.trips) {
              var resButton
              if (data.user != null && data.user != false && !trip.reserved) {
                resButton = "&nbsp&nbsp&nbsp&nbsp<button class='reservation_button' attr-id='" + trip.id + "'>Réserver</button>"
              } else if (data.user == null || data.user == false) {
                resButton = ""
              } else {
                resButton = "&nbsp&nbsp&nbsp&nbsp<button disabled>Déjà réservé</button>"
              }
              var html = "<span>" + trip.name + "</span>" +
                "<span>&nbsp&nbsp&nbsp&nbsp"+ trip.description + "</span>" +
                resButton +
                "</br>"
              $("#offers").append(html)
            }
            $( ".reservation_button" ).bind( "click", reservation)
          }

        })
        .fail(function(err) {
          console.log(err);
        });
      })

      function qs(key) {
        key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
        var match = location.search.match(new RegExp("[?&]"+key+"=([^&]+)(&|$)"));
        return match && decodeURIComponent(match[1].replace(/\+/g, " "));
      }

      function reservation(event){
        var start = $( "#datepicker_start" ).datepicker( "getDate" );
        var end = $( "#datepicker_end" ).datepicker( "getDate" );
        if(start && end) {
          $.ajax({
            url: '/trips',
            type: 'post',
            data: {
                trip_id: $(this).attr('attr-id'),
                start: start.valueOf(),
                end: end.valueOf()
            },
            "headers" : {
              "Authorization": "bearer " + window.localStorage.token
            },
            dataType: 'json'
          })
          .done(function(data) {
            window.location.href = "/user";
          })
          .fail(function(data, err) {
            $("#res_err").text(data.responseJSON.message)
            $("#res_err").show()
          });
        } else {
          $("#res_err").text("Veuillez remplir les deux dates.")
          $("#res_err").show()
        }
      }
    </script>
  </body>
</html>
